<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaInfoDotNet.WFClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MediaInfoDotNet.WFClient.Properties.Settings>
            <setting name="WinPosition" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="WinSize" serializeAs="String">
                <value>624, 362</value>
            </setting>
            <setting name="LastLocation" serializeAs="String">
                <value>\\DS1010-CSC\video\</value>
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value>C:\Users\Public\Videos\Sample Videos\Wildlife.wmv</value>
            </setting>
            <setting name="SaveOnExit" serializeAs="String">
                <value>True</value>
            </setting>
        </MediaInfoDotNet.WFClient.Properties.Settings>
    </userSettings>
</configuration>